*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, #1DB954, #191414);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 #1DB954);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display h2{
    font-size: 2rem;
    color: #eee;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 2rem;
}

.display .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display .btns span:active i{
    color: #171717;
    transition: .3s;
}

.display .btns span+span{
    margin-left: 50px;
}

.display .btns span i{
    font-size: 2rem;
    color: #eee;
    text-shadow: 2px 2px 5px #000;
    cursor: pointer;
}